*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../images/space3.jpg);
    height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
}

.navBar{
    
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.Logo{
    height: 10%;
    width: 10%;
}

li{
    font-family: Verdana, sans-serif;
    font-size: 2.0em;
    color: white;
}

a:visited{
    color: white;
}

a{
    text-decoration: none;
}

.container {
    box-sizing : border-box;
    border-radius:5px;
    background-color:#304d6dcc;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:0 auto;
    margin-top: 15%;
}

h1  {
    color: white;
    width: 100%;
}


input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}
label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    color: white;    
}
textarea{
    height: 200px;
}
input[type=submit] {
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}  
input[type=submit]:hover {
    background-color: #1872D9;
}
  

.menuBg{
    height: 75px;
    width: 75px;
    display: block;
}

@media screen and (min-width: 1001px){
    .menuBg{
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width: 401px){
    li{
        display: none;
    }
    .Logo{
        display: none;
    }
    header{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 400px){
    header{
        display: flex;
        flex-direction: row-reverse;
    }
}
