*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../images/space2.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    flex-direction: row;
}

.navBar{
    
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.Logo{
    height: 10%;
    width: 10%;
}

li{
    font-family: Verdana, sans-serif;
    font-size: 2.0em;
    color: white;
    background-color: #304d6dcc;
    border-radius: 90px;
    padding: 2%;
}

a:visited{
    color: white;
}
a{
    text-decoration: none;
}

.BgHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 10%;
    margin-right: 10%;
}

.titre1{
    font-family: Verdana, sans-serif;
    font-size: 3.0em;
    color: white;
}

.titre2{
    font-family: Verdana, sans-serif;
    font-size: 1.3em;
    color: white;
}

p{
    background-color: #304d6dcc;
    padding: 2%;
    border-radius: 30px;
    display: flex;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 2.0em;
    color: white;
    margin-top: 25%;
    margin-left: 8%;
    margin-right: 8%;
}

.menuBg{
    height: 75px;
    width: 75px;
    display: block;
}

.Logo2{
    height: 75px;
    width: 75px;
    display: block;
}

footer{
    margin-top: 7%;
    background-color:#304e6ecc;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.github{
    height: 75px;
    width: 75px;
}
.github:hover{
    opacity: 75%;
}

.email{
    height: 75px;
    width: 75px;
}
.email:hover{
    opacity: 75%;
}

@media screen and (min-width: 1001px){
    .menuBg{
        display: none;
    }
    .Logo2{
        display: none;
    }
}

@media screen and (max-width: 1000px) and (min-width: 401px){
    li{
        display: none;
    }
    .Logo{
        display: none;
    }
    .tablette{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .titre1{
        font-size: 2.5em;
    }
    .titre2{
        font-size: 1.0em;
    }
    p{
        font-size: 1.5em;
    }
    footer{
        height: 80px;
    }
    .github{
        height: 50px;
        width: 50px;
    }
    .email{
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 400px){
    li{
        display: none;
    }
    .Logo{
        display: none;
    }
    .tablette{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .titre1{
        font-size: 2.5em;
    }
    .titre2{
        font-size: 1.0em;
    }
    p{
        font-size: 1.5em;
    }
    footer{
        height: 80px;
    }
    .github{
        height: 50px;
        width: 50px;
    }
    .email{
        height: 50px;
        width: 50px;
    }
}